This is a fake homework starter code for decision trees!

In [1]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv('testdata.csv')
df.head()

,license_issue_date,license_number,animal_s_name,species,primary_breed,secondary_breed,zip_code
0,2015-12-18T00:00:00.000,S107948,Zen,Cat,Domestic Longhair,Mix,98117.0
1,2016-06-14T00:00:00.000,S116503,Misty,Cat,Siberian,NaN,98117.0
2,2016-08-04T00:00:00.000,S119301,Lyra,Cat,Mix,NaN,98121.0
3,2019-02-13T00:00:00.000,962273,Veronica,Cat,Domestic Longhair,NaN,98107.0
4,2019-08-10T00:00:00.000,S133113,Spider,Cat,LaPerm,NaN,98115.0